.hero {
  background: var(--primary-red); /* solid red background */
  padding: 80px 20px;
  min-height: 80vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.content {
  flex: 1;
  z-index: 2;
}

.image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.hero-img {
  max-width: 450px;
  height: auto;
  object-fit: contain;
}
